In [24]:
import pandas as pd
import numpy as np
import os
import glob

In [25]:
path_dir = 'C:/Users/patel/Documents/103- Analytic tools & Decision Making/Project/merge'
for merge in os.listdir(path_dir):
    print(merge)

data1.csv
data2.csv

In [26]:
all_files = glob.glob(path_dir + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0, low_memory=False)
    li.append(df)
    
FinalData = pd.concat(li, axis=0, ignore_index=True)

In [27]:
FinalData.shape

(1977727, 154)

In [28]:
FinalData

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,100002.0,1.0,Cash loans,M,N,Y,0.0,202500.0,406597.5,24700.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003.0,0.0,Cash loans,F,N,N,0.0,270000.0,1293502.5,35698.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004.0,0.0,Revolving loans,M,Y,Y,0.0,67500.0,135000.0,6750.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006.0,0.0,Cash loans,F,N,Y,0.0,135000.0,312682.5,29686.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007.0,0.0,Cash loans,M,N,Y,0.0,121500.0,513000.0,21865.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1977722,352015.0,NaN,Consumer loans,NaN,NaN,NaN,NaN,NaN,311400.0,14704.290,...,Furniture,30.0,low_normal,POS industry with interest,365243.0,-508.0,362.0,-358.0,-351.0,0.0
1977723,334635.0,NaN,Consumer loans,NaN,NaN,NaN,NaN,NaN,64291.5,6622.020,...,Furniture,12.0,middle,POS industry with interest,365243.0,-1604.0,-1274.0,-1304.0,-1297.0,0.0
1977724,249544.0,NaN,Consumer loans,NaN,NaN,NaN,NaN,NaN,102523.5,11520.855,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-1457.0,-1187.0,-1187.0,-1181.0,0.0
1977725,400317.0,NaN,Cash loans,NaN,NaN,NaN,NaN,NaN,191880.0,18821.520,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-1155.0,-825.0,-825.0,-817.0,1.0
1977726,261212.0,NaN,Cash loans,NaN,NaN,NaN,NaN,NaN,360000.0,16431.300,...,XNA,48.0,middle,Cash X-Sell: middle,365243.0,-1163.0,247.0,-443.0,-423.0,0.0

In [31]:
FinalData['NAME_TYPE_SUITE']=FinalData['NAME_TYPE_SUITE'].fillna('Unknown')
FinalData['WEEKDAY_APPR_PROCESS_START']=FinalData['WEEKDAY_APPR_PROCESS_START'].fillna('Unknown')
FinalData['HOUR_APPR_PROCESS_START']=FinalData['HOUR_APPR_PROCESS_START'].fillna('NA')
FinalData['SK_ID_PREV']=FinalData['SK_ID_PREV'].fillna('0')
FinalData['AMT_APPLICATION']=FinalData['AMT_APPLICATION'].fillna('0')
FinalData['FLAG_LAST_APPL_PER_CONTRACT']=FinalData['FLAG_LAST_APPL_PER_CONTRACT'].fillna('NA')
FinalData['NFLAG_LAST_APPL_IN_DAY']=FinalData['NFLAG_LAST_APPL_IN_DAY'].fillna('NA')
FinalData['NAME_CASH_LOAN_PURPOSE']=FinalData['NAME_CASH_LOAN_PURPOSE'].fillna('NA')
FinalData['NAME_CONTRACT_STATUS']=FinalData['NAME_CONTRACT_STATUS'].fillna('Undefined')
FinalData['DAYS_DECISION']=FinalData['DAYS_DECISION'].fillna('0')
FinalData['NAME_PAYMENT_TYPE']=FinalData['NAME_PAYMENT_TYPE'].fillna('Unknown')
FinalData['CODE_REJECT_REASON']=FinalData['CODE_REJECT_REASON'].fillna('NA')
FinalData['NAME_CLIENT_TYPE']=FinalData['NAME_CLIENT_TYPE'].fillna('Unknown')
FinalData['NAME_GOODS_CATEGORY']=FinalData['NAME_GOODS_CATEGORY'].fillna('NA')
FinalData['NAME_PORTFOLIO']=FinalData['NAME_PORTFOLIO'].fillna('NA')
FinalData['NAME_PRODUCT_TYPE']=FinalData['NAME_PRODUCT_TYPE'].fillna('NA')
FinalData['CHANNEL_TYPE']=FinalData['CHANNEL_TYPE'].fillna('NA')
FinalData['SELLERPLACE_AREA']=FinalData['SELLERPLACE_AREA'].fillna('0')
FinalData['NAME_SELLER_INDUSTRY']=FinalData['NAME_SELLER_INDUSTRY'].fillna('NA')
FinalData['CNT_PAYMENT']=FinalData['CNT_PAYMENT'].fillna('0')
FinalData['NAME_YIELD_GROUP']=FinalData['NAME_YIELD_GROUP'].fillna('Undefined')
FinalData['PRODUCT_COMBINATION']=FinalData['PRODUCT_COMBINATION'].fillna('NA')

In [33]:
FinalData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1977727 entries, 0 to 1977726
Columns: 154 entries, SK_ID_CURR to NFLAG_INSURED_ON_APPROVAL
dtypes: float64(118), object(36)
memory usage: 2.3+ GB

In [34]:
FinalData.to_csv(r"C:/Users/patel/Documents/103- Analytic tools & Decision Making/Project/Pro final.csv")